<p style="text-align: center">Welcome to <%= site_name %>, the book and video sharing community of <a href="http://www.amsterdam50.nl/">Amsterdam50</a> in Amsterdam, The Netherlands.</p>

<div class="two-columns">
	<div class="column"><div class="content">
		<h2>Recent additions</h2>
		<%= render :partial => 'items/item_blocks', :locals => { :items => @new_items } %>
	</div></div>

	<div class="column"><div class="content">
		<h2>Recent loans</h2>
		<%= render :partial => 'items/item_blocks', :locals => { :items => @new_loans } %>
	</div></div>
</div>

<% if current_user %>
	<p>We have <%= User.count %> members: <%= User.order('activated_at DESC').map{|u| user_link(u)}.join(", ").html_safe %>.</p>
<% end %>

