<ul class="wsite-menu-default">
	<% uri = request.fullpath -%>
	<%= navitab 'Home', url_for('/'), uri == root_path %>
	<%= navitab 'About', url_for('/about'), uri.match(/\/about/) %>

	<%= navitab 'Books', books_path, uri.match(/\/books/) %>
	<%= navitab 'Videos', videos_path, uri.match(/\/videos/) %>

	<%= navitab 'Tags', tags_path, uri.match(/\/tags/) %>

	<li class="separator"></li>

	<% if current_user %>
		<%= navitab current_user.login, '#', uri.match(/\/(account|loans)/) do %>
			<%= navitab 'Profile', user_path(current_user.login), uri.match(/\/users\/#{current_user.login}$/) %>
			<%= navitab 'Loans', loans_url, uri.match(/\/loans/) %>
			<%= navitab 'Settings', url_for('/account'), uri.match(/\/account$/) %>
			<%= navitab 'Log out', url_for('/account/logout'), false %>
		<% end %>
	<% else %>
		<%= navitab 'Log in', url_for('/account/login'), uri.match(/\/account\/login/)  %>
	<% end %>

</ul>

