<ul class="wsite-menu-default">
	<% uri = request.fullpath -%>
	<%= navitab 'Home', url_for('/'), uri == root_path %>
	<%= navitab 'About', url_for('/about'), uri.match(/\/about/) %>

	<%= navitab 'Books', books_path, uri.match(/\/books/) %>

	<%= navitab 'Tags', tags_path, uri.match(/\/tags/) do %>
		<%= navitab 'List', tags_path(as: :list), false %>
		<%= navitab 'Cloud', tags_path(as: :cloud), false %>
		<%= navitab 'Words', tags_path(as: :wordcloud), false %>
	<% end %>

	<li class="separator"></li>

	<% if current_user %>
		<%= navitab current_user.login, '#', uri.match(/\/(account|loans)/) do %>
			<%= navitab 'Profile', user_path(current_user.login), uri.match(/\/users\/#{current_user.login}$/) %>
			<%= navitab 'Loans', loans_url, uri.match(/\/loans/) %>
			<%= navitab 'Settings', url_for('/account'), uri.match(/\/account$/) %>
			<%= navitab 'Invite', url_for('/account/invite'), uri.match(/\/account\/invite$/) if AppConfig.signup == 'invite' %>
			<%= navitab 'Log out', url_for('/account/logout'), false %>
		<% end %>
	<% else %>
		<%= navitab 'Log in', url_for('/account/login'), uri.match(/\/account\/login/)  %>
	<% end %>

</ul>

